.close {
    display: inline-block;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    transition: transform 0.3s;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.05);
}

.modal-overlay {
   position: fixed; 
   z-index: 1; 
   padding: 12% 20%;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%; 
   box-sizing: border-box;
   background-color: rgba(0,0,0,0.4);
   overflow: auto;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 10px;
}

.modal-card {
    padding: 30px 50px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
}

.modal-content {
    display: flex;
    gap: 40px;
}

.modal-info {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    box-shadow: 6px 3px 3px #e2dfdf;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    gap: 15px;
    border-radius: 10px;
}

.modal-content img {
    width: 300px;
    height: 444px;
    border-radius: 10px;
}

.modal-info h1 {
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: 700;
    font-size: 45px;
}

.modal-info h3 {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
}

.modal-info p {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 18px;
}

.modal-genres {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 400;
    gap: 5px;
}