.card-container {
    width: 240px;
    min-height: 420px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 6px 3px 3px #f1ecec;
    transition: transform 0.3s ease;
    background-color: whitesmoke;
}

.card-container:hover {
    transform: scale(1.05);
}

.card-container img {
    width: 240px;
    height: 355px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.card-info h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}

.card-container h4 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
}