.sidebar-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 1;
}

.sidebar-overlay.open {
    opacity: 1;
    pointer-events: fill;
}

.sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1a1a1a;
    color: #fff;
    overflow: auto;
}

.sidebar.open {
    transform: translateX(0);
}


.sidebar img {
    width: 100px;
    aspect-ratio: 2 / 3;
}

.sidebar h1 {
    margin: 0;
    padding: 0;
    text-align: left;
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
}

.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-item {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    gap: 20px;
    font-size: 25px;
}